html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: "Roboto", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	height: 120vh;
	color: #333;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	color: white;
	background-color: teal;
	padding: 0 30px;
}

#title-box {
	display: flex;
	align-items: center;
	gap: 15px;
}

#logo {
	font-size: 36px;
}

#title {
	font-size: 36px;
}

#search-box {
	display: flex;
	align-items: center;
	gap: 15px;
}

#search-bar {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 40px;
	width: 600px;
	border: none;
	border-radius: 4px;
}

section {
	display: flex;
	justify-content: flex-start;
}

#container {
	margin: 0;
	padding: 30px 30px;
}

#form {
	width: 600px;
	border: 1px solid lightgray;
	padding: 0 15px;
}

#form-title {
	margin-bottom: 0;
	font-size: 32px;
}

#add-item-bar {
	height: 40px;
	width: 250px;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding-left: 15px;
}

#submit-button {
	height: 40px;
	width: 70px;
	border: none;
	border-radius: 4px;
	background-color: teal;
	color: white;
}

#list-box {
	margin: 30px 0;
}

#list-group {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: auto;
	padding: 0 15px;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.delete-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	background-color: crimson;
	border: none;
	border-radius: 4px;
	box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.15);
}

.delete-icon {
	color: white;
}
